[user]
	email = inbox@cale.io
	name = Cale Woodley
[credential "https://github.com"]
	helper = 
	helper = !/home/cale/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/cale/.local/bin/gh auth git-credential
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff
	conflictstyle = diff3
